.holder{
    width: 100%;
    height: 50vh;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    align-items: flex-end;
}
/* Your CSS Code here. */